<!-- <button (click)="deslogar()">Logout</button> -->
<div class="container">
  <header>
    <div class="container-logo">
      <!-- <img src="" alt="Logo"> -->
      <div class="provisorio"></div>
    </div>
    <div class="icones">
      <button class="notificacao">
        <img src="../../../assets/alarm _ notification _ message.svg" alt="">
      </button>
      <button class="perfil">
        <img src="../../../assets/user _ account _ profile.svg" alt="">
      </button>
    </div>
  </header>
  <section class="conteudo">
    <div class="eventos">
      <h1>Eventos</h1>
      <!--provisórios-->
      <div class="todos-eventos">
        <div class="evento">
          <h4>Nome do evento</h4>
          <p>14/05 - 15:00</p>
          <button>Ver detalhes</button>
        </div>
      </div>
    </div>
    <div class="calendar">
      <mat-calendar></mat-calendar>
    </div>
  </section>
</div>

